<% content_for :title do %>NAME of DASHBOARD<% end %>

<div class="gridster">
  <ul>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="zabb" data-view="zabb" data-title="ZABBIX"></div>

<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
    <div data-id="cent" data-view="cent" data-title="CENTREON"></div>

<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
    <div data-id="prtg" data-view="prtg" data-title="PRTG"></div>

</li>
</ul>

